$color-fondo:#D6D46D;
$color-fondo-videos:rgb(63, 82, 164);
$ancho-img:650px;
$alto-img:500px;
@import "../mixins/mixins.scss";
main{
    background-color: $color-fondo;
    .principal{
        display: flex;
        align-items: center;
        img{
            width: $ancho-img;
            height: $alto-img;
            padding: 20px;
            border-radius: 50px;
        }
        p{
            @include texto-principal;
        }
    }
}
section{
    .secundario{
        background-color:#F4DFB6; 
        display: flex;
        padding: 20px;
        img{
            width: 250px;
            height: 250px;
            border-radius: 50px;
        }
        h3{
            @include h3;
        }
    }
}
.secvideo{
    background-color: $color-fondo-videos;
    h3{
       @include h3;
    }
    p{
        @include texto-secundario;
    }
    iframe{
        @include videos;
    }
    display: flex;
    flex-direction: row;
}
aside{
    color: black;
    background-color: #D6D46D;
    width: 100%;
   
    li{
        list-style: none;
        img{
            width: 250px;
            height: 250px;
            padding: 5px;
            border-radius: 50px;
        }
    }
}
@media(max-width: 360px){
    
    main{
        .principal{
            flex-direction: column;
            img{
                width: 100%;
            }
            p{
                @include texto-mobil;
            }
        }
    }
    .secundario{
        flex-direction: column;
        align-items: center;
    }
    .secvideo{
        flex-direction:column;
        iframe{
            @include videos-mobil;
        }
        p{
            @include texto-mobil;
        }
    }
    aside{
        li{
            padding: 1.5rem;
            img{
                width: 100%;
            }
        }   
    } 
}
@media(max-width: 768px){
     
    main{
        .principal{
            flex-direction: column;
            img{
                width: 100%;
            }
            p{
                @include texto-mobil;
            }
        }
    }
    .secundario{
        flex-direction: column;
        align-items: center;
    }
}
